<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>New Clients Schedule</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  
  <style>
    .center {
      text-align: center;
    }

    .glyphicon {
      padding: 5px;
    }

    .glyphicon-trash {
      color: #e60000;
      border-radius: 50%;
      transition: background-color 700ms ease;
    }

    .glyphicon-trash:hover {
      color: white;
      background-color: #e60000;
      padding: 5px;
    }
 </style>
</head>

<body>
<div id="app" class="container-fluid">
    <nav class="navbar navbar-default">
        <a class="navbar-brand">
          <i class="glyphicon glyphicon-calendar"></i> New Client Schedule</a>
    </nav>
     <div class="row">
       <div class="col-md-3">
                   <!-- Przycisk uruchamiający modal -->
          <button class="btn btn-primary col-md-12" data-toggle="modal" data-target="#myModal">Add new client</button>
       </div>
       <div class="col-md-8">
        <div class="form-group">
    <label class="sr-only" for="searchInput">Search</label>
    <input type="text" v-model="searchKey" class="form-control" id="searchInput" onkeyup="search()" placeholder="Search Client...">
  </div>
     </div>
           <div class="row">
        <div class="col-md-12">
          
          <!-- Modal -->
          <div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                  <h4 class="modal-title" id="myModalLabel" v-model="newClient.name">Edit {{ newClient.name }}  </h4>
                </div>
                <div class="modal-body">
          <div class="panel panel-default">
             <div class="panel-heading">
                <h3 v-model="newClient.name">Edit {{ newClient.name }}</h3>
              </div>
              <div class="panel-body">
                 <form id="form" class="form" v-on:submit.prevent="addClient">
                    <div class="form-group">
                       <label for="clientName">Name:</label>
                        <input type="text" id="clientName" class="form-control" v-model="newClient.name">
                    </div>
                     <div class="form-group">
                       <label for="clientType">Type:</label>
       <select id="clientType" class="form-control" v-model="newClient.type">
        <option>Existing Entity</option>
        <option>New Entity</option>
       </select>
      </div>
      <div class="form-group">
      <label for="goLive" class="control-label">Go-live Month:</label>
      <input type="text" id="goLive" name="goLive" class="form-control" v-model="newClient.goLive">
      </div>
      <div class="form-group">
      <label for="followUp" class="control-label">Follow-up:</label>
      <input type="text" id="followUp" name="followUp" class="form-control" v-model="newClient.followUp">
      </div>
      <div class="form-group">
                       <label for="parallelRun">Parallel Run:</label>
                        <input type="date" id="parallelRun" class="date-picker" v-model="newClient.parallelRun">
                    </div>

                 </form>
              </div>
          </div>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                     <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Save" v-on:click="addClient">
                </div>
              </div>
            </div>
          </div>
          <!--koniec modala-->

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Nagłówek okienka Pop-Up</h4>
                </div>
                <div class="modal-body">
          <div class="panel panel-default">
             <div class="panel-heading">
                <h3>Add Client</h3>
              </div>
              <div class="panel-body">
                 <form id="form" class="form" v-on:submit.prevent="addClient">
                    <div class="form-group">
                       <label for="clientName">Name:</label>
                        <input type="text" id="clientName" class="form-control" v-model="newClient.name">
                    </div>
                     <div class="form-group">
                       <label for="clientType">Type:</label>
       <select id="clientType" class="form-control" v-model="newClient.type">
        <option>Existing Entity</option>
        <option>New Entity</option>
       </select>
      </div>
      <div class="form-group">
      <label for="goLive" class="control-label">Go-live Month:</label>
      <input type="text" id="goLive" name="goLive" class="form-control" v-model="newClient.goLive">
      </div>
      <div class="form-group">
      <label for="followUp" class="control-label">Follow-up:</label>
      <input type="text" id="followUp" name="followUp" class="form-control" v-model="newClient.followUp">
      </div>
      <div class="form-group">
                       <label for="parallelRun">Parallel Run:</label>
                        <input type="date" id="parallelRun" class="date-picker" v-model="newClient.parallelRun">
                    </div>

                 </form>
              </div>
          </div>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>                     <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Add Client" v-on:click="addClient">
                </div>
              </div>
            </div>
          </div>
          <!--koniec modala-->
          
            <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Go Live Month</h3>
            </div>
            <li class="list-group-item"><span class="badge">19</span><a data-toggle="collapse" data-target="#All">All</a></li>
              <div class="panel-body">
       <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          2018
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        January
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          2017
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge">4</span>January</li>
          <li class="list-group-item"><span class="badge">2</span>February</li>
          <li class="list-group-item"><span class="badge">1</span>March</li>
          <li class="list-group-item"><span class="badge">6</span>April</li>
          <li class="list-group-item"><span class="badge">5</span>May</li>
          <li class="list-group-item"><span class="badge">1</span>June</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
              </div>
          </div>
        </div>
          <div class="col-md-8">           <div id="All" class="collapse out">
          <div class="panel panel-default">
 
            <div class="panel-heading">
              <h3> Client Lists</h3>
            </div>
              <div class="panel-body">
              <table id="table" class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                      <th class="center">
                      Edit
                    </th>
                      <th class="center">
                      Delete
                    </th>
                  </tr>
                </thead>
                  <tbody>
                   <tr v-for="client in clients">
                      <td>
                       {{ client.name }}
                       </td>
                       <td class="center">
                           <a href="#"><span class="glyphicon glyphicon-edit" v-on:click="editClient(client)" v-bind:id="client['.key']" data-toggle="modal" data-target="#editClientModal"></span></a>
                       </td>
                       <td class="center">
                          <a href="#"><span class="glyphicon glyphicon-trash" v-on:click="removeClient(client)"></span></a>
                       </td>
                   </tr>
                  </tbody>
               </table>
              </div>
            </div>
          </div>
        </div>
          <input type="text" v-model="searchKey" class="form-control">
          <div> Search for {{ searchKey }} </div>
          <pre>{{ $data | json }}</pre>
      </div>

<script src='https://unpkg.com/vue/dist/vue.js'></script>
<script src='https://www.gstatic.com/firebasejs/3.6.10/firebase.js'></script>
<script src='https://unpkg.com/vuefire/dist/vuefire.js'></script>

    <script>
    $(document).ready(function(){
      var date_input=$('input[name="goLive"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/yyyy',
        container: container,
        autoclose: true,
        startView: 1,
        minViewMode: 1
      };
      date_input.datepicker(options);
      var date_input=$('input[name="followUp"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        daysOfWeekDisabled: "0,6",
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })

var config = {
        databaseURL: "https://new-clients-schedule.firebaseio.com/"
        };
      firebase.initializeApp(config);

var db = firebase.database();
var clientRef = db.ref('clients');
clientRef.orderByChild('name').on('child_added', function(data) {
  console.log(data.val().name);
})
var app = new Vue({
    el:"#app",
    firebase:{
      clients: db.ref('clients')
    },
    data:{
      searchKey: '',
      newClient: {
            name: '',
            type: '',
            goLive: '',
            followUp: '',
            parallelRun: ''
          }
    },
    methods: {
      addClient: function() {
          var key = this.newClient['.key'];
          if(typeof key === 'undefined' || key === '') {
              clientRef.push(this.newClient);
          }
          else {
              clientRef.child(key).child('name').set(this.newClient.name);
              clientRef.child(key).child('type').set(this.newClient.type);
             clientRef.child(key).child('goLive').set(this.newClient.goLive);
              clientRef.child(key).child('followUp').set(this.newClient.followUp);
              clientRef.child(key).child('parallelRun').set(this.newClient.parallelRun);
          }
          this.newClient.name = '';
          this.newClient.type = '';
          this.newClient.goLive = '';
          this.newClient.followUp = '';
          this.newClient.parallelRun = '';
          delete this.newClient['.key'];
          toastr.success("Client saved");
      },
      removeClient: function(client) {
          clientRef.child(client['.key']).remove();
          toastr.warning("Client deleted");
      },
      editClient: function(client){
        this.$bindAsObject('newClient',db.ref('clients').child(client['.key']));
      }
  }
  
});

function search() {
                    // Declare variables
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("searchInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("table");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 1; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
               </script> 
</body>
</html>
